# Plantilla de variables de entorno (ESTE ARCHIVO SÍ SE SUBE A GITHUB)
# Copia este archivo como .env y coloca tus propias credenciales

DB_URL=jdbc:postgresql://tu-host-supabase.com:6543/postgres?sslmode=require
DB_USERNAME=tu_usuario_postgres
DB_PASSWORD=tu_contrasena_postgres

ADMIN_EMAIL=admin@ejemplo.com
ADMIN_PASSWORD=TuPasswordAdminSegura!
