<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
</head>
<body>
    <h1 th:text="${titulo}"></h1>

    <a th:href="@{/Cliente/formulario}">Crear cliente</a>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>

        <tr th:each="cliente : ${clientes}">
            <td th:text="${cliente.id}"></td>
            <td th:text="${cliente.nombre}"></td>
            <td th:text="${cliente.apellido}"></td>
            <td th:text="${cliente.email}"></td>
            <td>
                <a th:href="@{/Cliente/formulario/{id}(id=${cliente.id})}">
                    Editar
                </a>

                <a th:href="@{/Cliente/eliminar/{id}(id=${cliente.id})}">
                    Eliminar
                </a>
            </td>
        </tr>
    </table>
</body>
</html>